@font-face {
    font-family: myFont;
    src: url(../external_files/trebuc.ttf);
}

.app-no-padding {
    padding-left: 0;
    padding-right: 0;
}

.app-page-layout {
    padding: 2em;
    .app-not-implemented {
        text-align: center;
    }
}

.app-container {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
    font-family: myFont;
    .app-login-navbar {
        background: #004994;
        border-radius: 0;
        height: 63px;
        border: 1px solid #004994;
        .app-navbar-left {
            float: left;
            .app-name {
                color: #FFFFFF;
                font-variant: small-caps;
                font-size: 2em;
                padding-left: 1em;
            }
            .app-company-name {
                padding-left: 4em;
                color: #FFFFFF;
                font-variant: small-caps;
            }
        }
        .app-navbar-right {
            float: right;
            padding-right: 2em;
            padding-top: 1em;
        }
    }
    .app-login-navbar-footer {
        background: #004994;
        border: 1px solid #004994;
        border-radius: 0;
        height: 45px;
        margin-bottom: 0;
        .app-footer-list {
            margin-top: 1.1em;
            li {
                display: inline;
                color: white;
                margin-left: 1em;
                font-size: 12px;
                cursor: pointer;
            }
            li:hover {
                text-decoration: underline;
            }
        }
    }
    .app-footer-modal {
        width: 450px;
        .app-modal-header {
            background: #004994;
            color: white;
            font-variant: small-caps;
        }
        .app-modal-body {
            .app-support-table{
                width:100%;
                .app-support-field{
                    border: 1px solid #CCCCCC;
                    width:100%;
                    padding:6px;
                    margin-bottom: 1.2em;
                }
            }
        }
        .app-modal-footer {
            border-top: none;
        }
    }
}